future
requests==2.21.0
paramiko
pysnmp==4.4.6
pycryptodome
certifi>=2022.12.7 # not directly required, pinned by Snyk to avoid a vulnerability
cryptography>=39.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
